.options {
    position: absolute;
    top: 54px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}